<main>
  <article data-aos="fade-right" data-aos-duration="1000">
    <h2 class="glitch-text" data-text="Abhishek Sawant">Abhishek Sawant</h2>
  </article>
  <h4 #animatedText data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100"></h4>
  <h5 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
    Welcome to my place of passion. I learn something <br />
    new every day as there is so much yet to learn.
  </h5>
  <app-navigation data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300"></app-navigation>
</main>

<!-- <h3>{{ email }}</h3> -->
